<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>Sobre mim</h2>
            <hr class="intro-divider">
            <br/>
                <!--<p><font size="4px">Jessica é linguista, professora, consultora pedagógica e aspirante a analista de dados.</font></p> -->
                <p><font size="4px">
Atualmente sou especialista pedagógica na <a href="https://www.positivotecnologia.com.br/" target="_blank">Positivo Tecnologia</a>, trabalho com pesquisa e desenvolvimento em tecnologia educacional, coordenando projetos na área e propondo estudos fundamentados em metodologias ativas e de ensino dentro dos projetos.
Sou mestra em Estudos de Linguagens, pós-graduada em Sociologia, especialista em docência e graduada em Letras. O ensino e a pesquisa na área de língua e linguagem é o que me mantém motivada e educação é o meu propósito.
Também sou professora de língua inglesa em cursos livres, com mais de 10 anos de experiência em sala de aula.
Me interessa trabalhar com análise de dados de relatórios pedagógicos, planejamento e gestão educacional, tecnologia digital e tecnologia voltada para língua e linguagem.
Aspirante a analista de dados, estou estudando Ciência de Dados e Inteligência Artificial. Nesta área me interessam as linguagens R e Python e linguística computacional, além de novidades em IA.
				
				
           <br/>
        </div>
    </div>
</section>






